<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595805505802-sf4qhmd8d94jq3tnt4k8104f05jsbqj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595805505802-sf4qhmd8d94jq3tnt4k8104f05jsbqj8</string>
	<key>API_KEY</key>
	<string>AIzaSyCeISF6EumFsPft6DktO-wJhG37vGGgC_w</string>
	<key>GCM_SENDER_ID</key>
	<string>595805505802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitsaras.dimitrisNotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-pdimitrios</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-pdimitrios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595805505802:ios:97fa614b4652c8e31152f3</string>
</dict>
</plist>